hr {
    padding: 0px;
    margin: 5px;
}

#location-list {
    padding: 0px;
}

.location-picture {
    height: 50px;
    display: none;
}

.single-pic {
    height: 100px;
}

.add-padding {
    padding: 5px;
}

.show-list-button {
    display: none;
}

.reset-search-button {
    display: none;
}

.tiny-text {
    font-size: 7px;
    font-style: italic;
}


h5 {
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    padding: 0px;
    margin: 0px;
}

.pad-top {
    padding-top: 10px;
}

h6 {
    margin-top: 0px;
    }