h2 {
    color: #60C;
}

h5 {
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

h6 {
    margin-top: 0px;
    }

hr {
    padding: 0px;
    margin: 5px;
}

#map {
    height: 350px;
    width: 100%;
    border: 3px solid #60C;
}

#location-list {
    padding: 0px;
}

.single-pic {
    height: 100px;
    border: 3px solid #60C;
    border-radius: 20px;
}

.add-padding {
    padding: 5px;
}

.add-extra-padding-sides {
    padding-left: 20px;
    padding-right: 20px;
}

.category:hover {
    color: #60C;
    font-weight: bold;
}

.category-marker:hover {
    background-color: #FCF;
    border-radius: 5px;
}

.btn {
    display: inline;
}

.btn:hover {
    color: #FCF;
    display: inline;
}

button {
    background-color: #60C;
    color: #FFF;
    display: inline;
}

.show-list-button {
    display: none;
}

.reset-search-button {
    display: none;
}

.tiny-text {
    font-size: 7px;
    font-style: italic;
}

.pad-top {
    padding-top: 10px;
}

p {
    padding: 0px;
    margin: 0px;
}
